.container{
    flex: auto;
    height: 200px;
    width; 200px;
    align-items: center;
    flex-direction: row;
    -ms-flex-align: center;
}
.item{
    height: 50px;
    width:50px ;
    border: 10px ;
    background-color: aqua;
    padding-left: 0cqmax
    ;
}