.container{display: grid;
           height: 800px;
          width:  1600px;
         flex-direction: column;
         border: 10px,10px;
         background-color: rgb(171, 134, 206);
         justify-content: space-between;
         align-content: top;
         grid-template-columns: 250,250,250,250;
         grid-template-rows: 250,250,250,250;
         
}
.box-1{height: 200px;
       width: 200px;
       border: 10px;
       background-color: aqua;
       grid-area:auto;
       
}
.box-2{height: 200px;
      width: 200px;
      border:10px;
      background-color: aqua;
      grid-area:auto;
     
}

.box-3{height: 200px;
      width: 200px;
      border: 10px;
      background-color: aqua;
      grid-area:auto;

}


.box-4{
      height: 200px;
      width: 200px;
      border: 10px;
      background-color: aqua;
      grid-area:auto;
}