body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.navigation-container {
    width: 400px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    text-align: center;
}

.title {
    margin-top: 0;
    font-size: 12px;
    color: #666;
}

.nav a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #e9e9e9;
    margin: 3px;
    border-radius: 3px;
}


.top-nav a {
    display: inline-block;
}


.bottom-nav a {
    display: inline-block;
    background-color: #aed581; 
}